{% extends "base.html" %}


{% load crispy_forms_tags %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="d-md-flex flex-row align-items-center py-5 p-small-t-0">
    <div class="col-md-6 curve-right bg-white shadow pr-5  pl-0">
        <div class="bg-default p-5 shadow curve-right">
            <h3 class="display-3">Join Us</h3>
            <p class="lead">...for all the amazing things you are missing...</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="shadow p-5 ">
            <form class="form" method="POST">
                {% csrf_token %}
                <!--<div class="form-elements">
                    {{ user_form.as_p }}
                </div> -->
                {{ user_form | crispy }}
                <p>
                    <input class="btn btn-success" type="submit" value="Register">
                </p>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}