{% extends "base.html" %}


{% block content %}
<div class="banner mb-4">
    <h1 class="display-2">JoeBase</h1>
    <p>Your glorious Base...</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="p-4 h-100 bg-white shadow">
                <h3>Create New Project</h3>
                <p>Enjoy the amazing experience</p>
                <p><a href="#" class="btn btn-primary">Let's Start</a></p>
            </div>
        </div>

        <div class="col-md-4">

            <div class="p-4 h-100 fill bg-white shadow">
                <h3>View Dashboard</h3>
                <p>Where all your files are organized</p>
                <p><a href="#" class="btn btn-primary">Journey waits</a></p>
            </div>
        </div>

        <div class="col-md-4">

            <div class="p-4 h-100 fill bg-white shadow">
                <h3>View Dashboard</h3>
                <p>Where all your files are organized</p>
                <p><a href="#" class="btn btn-primary">Journey waits</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}