{% extends "dashboard-base.html" %}

{% load crispy_forms_tags %}

{% block title %} Project - {{ project.name }}{% endblock %}

{% block dashcontent %}
<div class="container py-4">
    <div class="bg-white shadow px-5 py-2">
        <p class="title p-0 m-0">{{ project.name }}</p>
        <p class="lead p-0 m-0">{{ project.description }}</p>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="shadow-sm bg-white p-4">
                    <p>Create New Table</p>
                    <form method="POST" class="d-md-flex flex-row align-items-center form"
                        action="{% url 'project:table-view' project.id %}">
                        {% csrf_token %}
                        {{ table_form | crispy }}
                        <p>
                            <br>
                            <input type="submit" class="btn btn-success" value="Create Table">
                        </p>
                    </form>
                </div>
            </div>
            {% for table in project.tables.all %}
            <div class="col-md-4">
                <div class=" shadow-sm bg-white my-2">
                    <a href="{% url 'project:table-view' project.id table.id %}"
                        class="title-sm text-white bg-default d-block p-2">{{ table.name }}</a>
                    
                    <table class="table">
                        <thead>
                            <tr ><th class="text-success" colspan="2">Fields</th></tr>
                            
                        </thead>
                        <tbody>
                            {% for field in table.fields.all %}
                            <tr class="text-default">
                                <td>{{ field.name }}</td>
                                <td>{{ field.get_field_type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
            {% empty %}
            <div class="shadow-sm col-md-12 table p-2">
                <p class="lead">There are no tables yet</p>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
</div>
{% endblock %}